//colors

$clr-primary: hsl(26, 100%, 55%);
$clr-primary-pale: hsl(25, 100%, 94%);

$clr-second_white: hsl(0, 0%, 100%);
$clr-second_black: hsl(0, 0%, 0%);
$clr-second_black-op: hsla(0, 0%, 0%, 55%);

$clr-neutral_dark-blue: hsl(220, 13%, 13%);
$clr-neutral_dark-grayish-blue: hsl(219, 9%, 45%);
$clr-neutral_grayish-blue: hsl(220, 14%, 75%);
$clr-neutral_light-grayish-blue: hsl(223, 64%, 98%);

//font
$fz_small: 1.4rem;
$fz_normal: 1.6rem;
$fz_large: 2.2rem;
$fz_menu-item: 2rem;
$fz_title-section: 2.8rem;
